<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.acc2">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>

        <!--请在主工程配置[tools:replace="android:enabled,android:exported"]-->
        <service
            android:name="com.angcyo.core.component.accessibility.RAccessibilityService"
            android:enabled="false"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:label="@string/lib_accessibility_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/lib_accessibility_service_config" />
        </service>

    </application>

    <!--api 30, 包的可见性-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
</manifest>
