<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.qrcode">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <!--扫一扫-->
        <activity
            android:name=".CodeScanActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CodeActivityStyle" />
    </application>
</manifest>
