<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.widget">

    <!--应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

</manifest>
