<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.media">

    <application>
        <service
            android:name=".audio.record.RecorderService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
