<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angcyo.glide">

    <!--min api 21-->
    <uses-sdk tools:overrideLibrary="jp.wasabeef.glide.transformations,pl.droidsonroids.gif" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.angcyo.glide.progress.OkHttpProgressGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
