<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.download">

    <application>

        <!--Only fullscreen activities can request orientation-->
        <activity
            android:name=".version.VersionUpdateActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/VersionUpdateActivityTheme" />
    </application>

</manifest>
