<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.core">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--https://developer.android.com/guide/topics/manifest/application-element-->
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>
