<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.core">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--startForegroundService API 28后需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application android:requestLegacyExternalStorage="true">
        <!--Android7.0 文件权限-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/core_provider_paths" />
        </provider>

        <!--跳板Activity-->
        <activity
            android:name=".activity.JumpActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />

        <!--Fragment包裹容器-->
        <activity
            android:name=".activity.FragmentWrapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:launchMode="standard"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
