<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.fragment">

    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!--跳板Activity-->
        <activity
            android:name="com.angcyo.activity.JumpActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />

        <!--Fragment包裹容器-->
        <activity
            android:name="com.angcyo.activity.FragmentWrapActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:launchMode="standard"
            android:rotationAnimation="seamless"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />

        <!--锁屏通知Activity-->
        <activity
            android:name="com.angcyo.activity.LockNotifyActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:rotationAnimation="seamless"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
