<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.picker">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--Android 13 https://developer.android.google.cn/about/versions/13/behavior-changes-13#granular-media-permissions-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application>
        <!--图片选择器-->
        <activity
            android:name=".core.PickerActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="false"
            android:noHistory="false"
            android:screenOrientation="behind"
            android:theme="@style/PickerActivityStyle"
            android:windowSoftInputMode="adjustResize" />

        <!--图片剪辑-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.angcyo.ucrop.RCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>