<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.picker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <!--图片选择器-->
        <activity
            android:name=".PickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale|smallestScreenSize|density|screenLayout"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:exported="false"
            android:noHistory="false"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>